@model LiteraturePortal.ViewModel.BookAndReviewsViewModel

@{
    ViewData["Model"] = "Create";
}

<br />
@Html.Partial("_BookDetailsInReview")
<hr />

<h4>Review</h4>
<div class="row form-border">
    <form asp-action="Create">
        <input asp-for="bookId" hidden />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-sm-5">
            @* Pages and Price, with Submit Button*@
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="NewReviewObj.Pages" class="control-label"></label>
                </div>
                <div class="col-sm-9" style="padding-bottom:5px;">
                    <input asp-for="NewReviewObj.Pages"  class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="NewReviewObj.Price" class="control-label"></label>
                </div>
                <div class="col-sm-9" style="padding-bottom:5px;">
                    <input asp-for="NewReviewObj.Price"  class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9" style="padding-bottom:5px;">
                    <input type="submit" value="Add Review" class="btn btn-sm btn-primary form-control" />
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-2">
            @* Details and ReviewType *@
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="NewReviewObj.Details" class="control-label"></label>
                </div>
                <div class="col-sm-9" style="padding-bottom:5px;">
                    <input asp-for="NewReviewObj.Details"  class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="NewReviewObj.Reviewer" class="control-label"></label>
                </div>
                <div class="col-sm-9" style="padding-bottom:5px;">
                    <select asp-for="NewReviewObj.Reviewer" asp-items="@(new SelectList(Model.ReviewTypesObj,"Id","Name"))" class="form-control"></select>
                </div>
            </div>
        </div>
    </form>
</div>


<br />
<hr />
<h4>Past Review Records</h4>

<div class="row form-border">
    @Html.Partial("_DisplayPastReviews",Model)
    <div class="row">
        @if (Model.PastReviewsObj.Count() == 0)
        { 
            <div class="col-sm-12 text-primary" style="padding-bottom:20px;">No past review records found.</div>
        }

        <div class="col-sm-3">
            <a asp-controller="Books" asp-action="Index" asp-route-userId ="@Model.UserId" class="btn btn-sm btn-success">Back to List</a>
        </div>

        @if (Model.PastReviewsObj.Count() > 4)
        {
            <div class="pull-right" style="padding-right:20px;">
                <a asp-action="Index" asp-route-bookId="@Model.bookId" class="text-primary">Load All...</a>
            </div>
        }
    </div>
</div>